
<footer class="pageFooter">

  <div class="container">

    <div class="row">

      <div class="row text-center">
        <%= link_to 'Om ADL', page_path('about') , class:'' %>
      </div>

      <div class="row text-center footer">
        <span>&copy; </span>
        <a href="http://www.dsl.dk" target="_blank">Det Danske Sprog- og Litteraturselskab</a>
        <span> & </span>
        <a href="http://www.kb.dk" target="_blank">Det Kongelige Bibliotek</a>
        <span> * </span>
        <%= link_to 'Cookie- og Privatlivspolitik', page_path('politik'), class:'' %>
        <span> * </span>
        <a href="mailto:sekretariat@dsl.dk">Kontakt os</a>
      </div>

    </div>
  </div>

</footer>