<div id="content">

  <div class="page-header">
    <div class="container search-bg">
      <h2 class="page-heading"><span class="glyphicon glyphicon-info-sign"></span> Om ADL</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">

    <div id="om-adl" class="document">
      <div class="text-content">
        <div class="text">

      <p><h2>Arkiv for Dansk Litteratur</h2>Arkiv for Dansk Litteratur er et litteraturhistorisk websted for den ældre danske litteratur – fra middelalderen og frem til midt i det 20. årh. Her får man adgang både til teksterne selv og til moderne introduktioner om størstedelen af forfatterne, ’forfatterportrætter’. Det er hensigten at ADL skal være en ressource for både forskning, undervisning og bredere formidling af ældre dansk litteratur. ADL drives af Det Kongelige Bibliotek og Det Danske Sprog- og Litteraturselskab i fællesskab.</p>

      <p><h2>Forfatterskaber i ADL</h2><br/>
      ADL rummer p.t. værker af 78 forfattere. På grund af ophavsretlige regler er forfattere der er døde for mindre end 70 år siden, ikke medtaget. Men ADL vil gradvist udvides: Når et forfatterskab ikke længere er omfattet af 70-års-grænsen, kan det blive det indlemmet i ADL.</p>

      <p>ADL vil ikke blot blive udvidet kronologisk. En række ældre forfatterskaber der hidtil har manglet, vil løbende blive inkorporeret.</p>

      <p><h2>Tekstudgaver</h2><br/>
      Teksterne er i langt de fleste tilfælde gengivet efter nyere, trykte standardudgaver. Teksterne kan ses i to forskellige formater, dels som digitale faksimiler af den trykte udgave, dels som søgbar tekst. De to formater kan også ses ved siden af hinanden.</p>

      <p><h2>Forfatterportrætter</h2><br/>
      Til en lang række af forfatterskaberne kan man finde en solid introduktion skrevet til ADL af en moderne ekspert. Disse introduktioner, ’forfatterportrætterne’, rummer både biografiske oplysninger og en gennemgang af forfatterens litterære produktion. Desuden kan man finde bibliografiske oplysninger om de vigtigste udgaver og den vigtigste senere litteratur om forfatterskabet.</p>

      <p><h2>Søgning</h2><br/>
      Man kan søge efter ord og vendinger i alle teksterne på én gang. Det er også muligt at begrænse sin søgning til …. [se nærmere i søgevejledningen]</p>


      <p><h2>Citation af tekster i ADL</h2><br/>
      Forfatternes tekster stammer fra udgaver som ADL har gjort tilgængelige, og brugeren kan derfor citere udgaverne som sådan. Man anfører ADL som kilde ved at skrive dato og adl.dk/ efter referencen efter følgende grundform:<br/>

      <span class="small indented">Forfatter: Bogens titel. Udgaveinformation for den trykte udgave (oplysningen findes i ADL). Dato for elektronisk publicering, seneste opdatering, hvis det er oplyst. Navnet på den institution eller organisation, der står som ejer af webstedet. Adgangsdato og webadresse (URL).</span></p>


      <p><h2>Fejl og fejlmelding</h2><br/>
      Der forekommer desværre scanningsfejl i en del af de ocr-scannede tekstversioner. Læserne er derfor velkomne til at rapportere fejl til redaktionen (mail …)</p>


      <p><h2>ADL-projektet</h2><br/>
      ADL er et samarbejde mellem Det Kongelige Bibliotek og Det Danske Sprog- og Litteraturselskab. Det Kongelige Bibliotek tager sig af det tekniske arbejde, og Det Danske Sprog- og Litteraturselskab står for det redaktionelle indhold.</p>

      <p><h2>Historie</h2><br/>
      ADL blev første gang lanceret i 2001. Det blev dengang muliggjort gennem økonomisk støtte fra KulturNet Danmark og DEF, Danmarks elektroniske Forskningsbibliotek. I 2008 blev der føjet en række nye tekster til (det drejede sig om forfatterskaber der var blevet frigivet efter 70-årsklausulen i loven om ophavsret). Den version der ses her, er resultatet af en teknisk opdatering som er blevet til i perioden 2013-16.</p>

    </div>
      </div>

    </div>
    </div>
  </div>
</div>
