
<article id="main-content">
  <div id="about" class="container">

<%= render :partial => 'catalog/shared_header', locals: {document:'about'}%>

        <div class="row">

          <div id="om-adl" class="document">
            <div class="text-content">
              <div class="text">

                <h2>Arkiv for Dansk Litteratur</h2>

                <p>Arkiv for Dansk Litteratur er et litteraturhistorisk
                  hjemmeside for udvalgte dele af den ældre danske
                  litteratur – fra middelalderen og frem til midt i det
                  20. århundrede. Her får man adgang både til teksterne selv
                  og til introduktioner om størstedelen af forfatterne. ADL
                  er en ressource for forskning, undervisning og bred
                  formidling af ældre dansk litteratur. ADL er et samarbejde
                  mellem <a href="http://www.kb.dk/">Det Kgl. Bibliotek</a> og
                  <a href="http://www.dsl.dk/">Det Dansk Sprog- og Litteraturselskab</a>
                  ADL rummer pt. værker af 78 forfattere.</p>

                <h2>Digitaliserede udgaver</h2>

                <p>Teksterne er gengivet efter trykte
                  standardudgaver. Teksterne kan ses i to forskellige
                  formater, dels som digitale faksimiler af den trykte
                  udgave, dels som søgbar tekst. De to formater kan også ses
                  ved siden af hinanden. De digitaliserede tekster er
                  OCR-behandlede og opmærkede i TEI P5. Materialet kan også
                  tilgås direkte via <a
                href="https://github.com/Det-Kongelige-Bibliotek/access-digital-objects/blob/master/text-corpora.md">
                  Det Kgl. Biblioteks API</a>.</p>

                <h2>Forfatterportrætter</h2>

                <p>Til en lang række af forfatterskaberne kan man finde en
                  faglig introduktion skrevet til ADL af en ekspert. Disse
                  introduktioner rummer både biografiske oplysninger og en
                  gennemgang af forfatterens litterære produktion. Desuden
                  kan man finde bibliografiske oplysninger om de vigtigste
                  udgaver og den vigtigste senere litteratur om
                  forfatterskabet.</p>

                <h2>Historie</h2>

                <p>ADL blev første gang lanceret i 2001. Projektet blev
                  dengang muliggjort gennem økonomisk støtte fra KulturNet
                  Danmark og DEFF, Danmarks elektroniske
                  Forskningsbibliotek. I 2008 blev der føjet en række nye
                  tekster til (det drejede sig om forfatterskaber, der var
                  blevet frigivet efter 70-årsklausulen i loven om
                  ophavsret). Den version, der ses her, er resultatet af en
                  teknisk opgradering lanceret i foråret 2017.</p>

                <h2>Citation af tekster i ADL</h2>

                <p>Forfatternes tekster stammer fra udgaver, som ADL har
                  gjort tilgængelige, og brugeren kan derfor citere de
                  trykte udgaver som sådan. Man anfører ADL som kilde ved at
                  skrive dato og adl.dk/ efter referencen efter følgende
                  grundform:</p>

                <blockquote>Forfatter: Bogens titel. Udgaveinformation for
                  den trykte udgave (oplysningerne findes i ADL). Dato for
                  elektronisk publicering, seneste opdatering, hvis det er
                  oplyst. Adgangsdato og webadresse (URL).</blockquote>

                <h2>Øvrige litterære digitale udgivelser</h2>

                <p><a href="http://www.dsl.dk/">Det Dansk Sprog- og Litteraturselskab</a> og <a href="http://www.kb.dk/">Det
                  Kgl. Bibliotek</a> driver flere andre litterære digitale
                  udgivelser, bl.a. <a
                href="http://holbergsskrifter.dk/holberg-public/view?docId=adm/main.xml&amp;lang.set=dk">Holbergs
                  Skrifter</a>, <a href="http://bangsbreve.dk/">Bangs
                  Breve</a>, <a
                href="http://sks.dk/forside/indhold.asp">Søren
                  Kierkegaards Skrifter</a> og <a
                href="http://www.kb.dk/da/nb/tema/litteratur/hca/index.html">H. C. Andersen
                  Online</a></p>

                <h2>Kontakt</h2>

                <p>Henvendelser vedrørende webstedet kan rettes til Det Dansk Sprog- og Litteraturselskab:
                  <a href="mailto:sekretariat@dsl.dk">sekretariat@dsl.dk</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</article>
