<div id="main-content">
    <div id="politik" class="container">
      <%# TODO: Add the locale using configuration rather than manually sending a parameter%>
      <%= raw KbCookie::Cookie.writecookie('da') %>
    </div>
</div>