<div class="col-md-4">
  <a href="/?q=&search_field=Alt&sort=work_title_ssi+asc<%#= send("#{var}_path , periods_path%>">
    <div class="box-shadow">
      <div class="image <%= document%> img-thumbnail">
      </div>
      <div class="text">
        <h3 class="btn btn-link btn-lg">
          <%= t("home.boxes.#{document}.title") %>
        </h3>
        <p><%= t("home.boxes.#{document}.description")%></p>
      </div>
    </div>
  </a>
</div>
