<div class="homeSearch box-gradient-blue fixed-top-second">
  <div class="search-bg">
    <div class="container">
      <div class="row">
        <h2>
          <%= t('home.bluebar.welcome') %>
        </h2>
        <h3>
          <%= t('home.bluebar.description') %>
        </h3>
        <%= render 'simple_search_form' %>
      </div>
    </div>
  </div>
</div>
<%= render 'boxes' %>




