<div id="cookie-button" class="alert alert-info text-center" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="cookieTerms('terms', 'true', 60)"><span aria-hidden="true">&times;</span></button>
  <p>
    På ADL.dk bruger vi cookies til at huske dine indstillinger samt indsamle statistik.
  </p>
  <p>
    <%= link_to 'Læs mere', page_path('politik'), :id => 'read-more', :class =>'btn btn-primary btn-sm' %>
  </p>
</div>