<ul class="advanced-help">
  <li><%= t('text_service.tooltip.search.tooltip1') %></li>
  <li><%= t('text_service.tooltip.search.tooltip2') %></li>
  <li><%= t('text_service.tooltip.search.tooltip3') %></li>
</ul>