<header class="box-gradient-blue fixed-top-second">
  <div class="page-header">
    <div class="container search-bg">
      <h2 class="page-heading"><%= t("static_pages.#{document}.title")%></h2>
    </div>
  </div>
</header>