<% # bookmark/folder functions -%>
<div class="search-secondary box-gradient-blue fixed-top-second">
  <span class="glyphicon glyphicon-book"></span>
  <%= render_document_heading(document, :tag => :h1) %>
</div>
