<% document ||= @document %>
<% # bookmark/folder functions -%>
<div class="page-header">
<div class="container workHeaderFixContainer search-bg">
  <div class="row">
    <div class="col-md-12">
        <h2><span class="glyphicon glyphicon-file"></span> <%= document['work_title_tesim'].first %></h2>
      </div>
    </div>
  </div>
</div>



