<span class="text-tooltip <%= document %>-tooltip ">?
  <span class="text-tooltiptext <%= document %>-tooltiptext">
    <div class="card">
      <% if header %>
          <div class="card-header"><%= t('tooltip.search.header') %></div>
      <% end%>
      <div class="card-body">
        <%= render :partial => "#{document}_tips" %>
      </div>
    </div>
  </span>
</span>
