<span class="input-group-btn">
        <span class="search-tooltip ">?
         <span class="tooltiptext">
            <div class="panel panel-default">
              <div class="panel-heading">Søgetips</div>
              <div class="panel-body">
                <ul class="advanced-help">
                  <li><%= t('blacklight.search.form.search.tooltips1') %></li>
                  <li><%= t('blacklight.search.form.search.tooltips2') %></li>
                  <li><%= t('blacklight.search.form.search.tooltips3') %></li>
                </ul>
              </div>
            </div>
         </span>
        </span>
      </span>