#main-container {
  padding: $top-header-size 0 0 0 ;
}

#header-navbar {
  @extend .box-shadow;
}

.navbar-brand {
  font-weight: 500;
  font-size: 18px;
  text-indent: 0 !important;
  background: none !important;
  overflow: visible !important;
  padding: 12px;
  margin: auto;
}

.search-bg {
  background: url(asset-path('lion-big-white.png')) no-repeat;
  background-position: center;
  height: inherit;
}

.search_q {
  border-radius: 10px !important;
  width: 98% !important;
}

button#search {
  border-radius: 6px !important;
  border: none;
}

.box-gradient-blue {
  background: linear-gradient(to bottom, rgba(36, 82, 112, 1) 0%, rgba(24, 55, 75, 1) 100%);
}

.fixed-top-second {
  width: 100%;
  z-index: 1029;
}

// Styling headers in about and politik pages
#main-content {
  min-height: 500px;
  //margin-top: 94px;
  margin-top: $top-header-size + $blue-bar-height+$top-space;
  .header-container {
    position: relative;
  }
  .page-heading {
    margin-top: 0;
    line-height: $blue-bar-height;
  }
  article.container {
    @extend .document;
    @extend .text;

    padding: 20px 59px !important;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  article.ocr {
    width: 100%;
  }

  #politik, #about {
    .text-content {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
    }
    .text {
      padding: 20px 15px;
    }
    color: #666;

    header {
      @extend .box-gradient-blue;
      position: absolute;
      width: 100%;
      top: $top-header-size;
      margin: 0;
      left: 0;
      height: $blue-bar-height;
      color: #dcd2ab;
      font-size: 25px;
      font-weight: normal;
      z-index: 1029;
      dl {
        font-size: 14px;
      }
    }
  }
  h1[itemprop="headline"] {
    @extend .container;
    @extend .search-bg;
    margin-top: 0px !important;
    font-size: 30px;
    line-height: $blue-bar-height;
  }

  #document header {
    top: -$blue-bar-height;
  }
  .page-header-in-pages-with-searchbox {
    height: 100px;
    h3 {
      @extend .pull-left;
      width: 70%;
    }
    .btn {
      margin-top: $top-space;
    }
  }
}
#about blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 13px;
}
