.author-img-thumbnail{
  padding: 4px;
  margin-right: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  height: auto;
  width: 58px;
  img{
    width:48px;

  }
}