#search-tooltip {
  vertical-align: top;
  .search-tooltip {
    height: 46px;
    line-height: 26px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

  .search-tooltip, .login-tooltip {
    cursor: pointer;
    color: $beige;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    display: inline-block;
    vertical-align: top;
    .card {
      margin-bottom: 0;
    }
    .card-header {
      text-align: center;
    }
    .tooltiptext, .login-tooltiptext {
      font-size: small;
      visibility: hidden;
      white-space: normal;
      width: 420px;
      background-color: $gray-200;
      color: $black;
      text-align: left;
      border-radius: 6px;
      padding: 0;
      position: absolute;
      z-index: 1;

      top: 130%;
      left: -1115%;
      opacity: 0;
      transition: opacity 1s;

      ul {
        padding-left: 10px;
      }
    }
    .tooltiptext::after, .login-tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 90%;

      margin-left: -5px;

      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #f5f5f5 transparent;
    }
    &:hover .tooltiptext, &:hover .login-tooltiptext {
      visibility: visible;
      opacity: 1;

    }
  }
}